client/*.pro.*
client/*.qm
CreateInstallList/*.pro.*
dbbackup/*.pro.*
dbtool/*.pro.*
install/*.pro.*
install/*.qm
serveradmin/*.pro.*
viewer/*.pro.*
advertisement/*.pro.*
startup/*.pro.*
activator/*.pro.*
package_creator/*.zip
package_creator/*.xml
package_creator/*.sql
package_creator/*.inf
websync/*.pro.*
