.gitignore
libmysql.dll
dist/
belenus.exe
BelenusServer.exe
belenus
belenus.ini
client/Makefile
client/Makefile.Debug
client/Makefile.Release
client/object_script.belenus.Debug
client/object_script.belenus.Release
client/debug/
client/release/
client/belenus.pro.user
client/bs_connection.o
client/cassa.o
client/communication_demo.o
client/connection.o
client/dbattendance.o
client/dbcassa.o
client/dbcassadenomination.o
client/dbcassahistory.o
client/dbconnection.o
client/dbdenomination.o
client/dbledger.o
client/dbledgerdevice.o
client/dbpanelstatuses.o
client/dbpaneltypes.o
client/dbpaneluses.o
client/dbpatient.o
client/dbpatientcard.o
client/dbpatientcardtype.o
client/dbpatientorigin.o
client/dbpostponed.o
client/dbproduct.o
client/dbproducttype.o
client/dbreasontovisit.o
client/dbuser.o
client/dbusercard.o
client/dbusercardtype.o
client/dlgattendance.o
client/dlgattendanceedit.o
client/dlgcassaaction.o
client/dlgcassaedit.o
client/dlgcrud.o
client/dlghardwaretest.o
client/dlginputstart.o
client/dlglogin.o
client/dlglogs.o
client/dlgpanelsettings.o
client/dlgpanelstatuses.o
client/dlgpanelstatusesedit.o
client/dlgpaneltypeedit.o
client/dlgpaneltypes.o
client/dlgpaneluseedit.o
client/dlgpatient.o
client/dlgpatientcard.o
client/dlgpatientcardadd.o
client/dlgpatientcardedit.o
client/dlgpatientcardtype.o
client/dlgpatientcardtypeedit.o
client/dlgpatientedit.o
client/dlgpatientorigin.o
client/dlgpatientoriginedit.o
client/dlgpatientselect.o
client/dlgpostponedattendanceselect.o
client/dlgpostponedpatientselect.o
client/dlgpreferences.o
client/dlgproductedit.o
client/dlgproducts.o
client/dlgproducttypeedit.o
client/dlgproducttypes.o
client/dlgpwdconfirm.o
client/dlgreasontovisit.o
client/dlgreasontovisitedit.o
client/dlgserialreg.o
client/dlgusercardedit.o
client/dlgusercards.o
client/dlgusercardtypeedit.o
client/dlgusercardtypes.o
client/dlguseredit.o
client/dlgusers.o
client/frmpanel.o
client/ledger.o
client/main.o
client/mdipanels.o
client/packet.o
client/preferences.o
client/qtlogger.o
client/qtmysqlconnection.o
client/qtmysqlquerymodel.o
client/sqlResult.o
client/tracer.o
client/wndmain.o
client/moc_bs_connection.cpp
client/moc_bs_connection.o
client/moc_connection.cpp
client/moc_connection.o
client/moc_dlgattendance.cpp
client/moc_dlgattendance.o
client/moc_dlgattendanceedit.cpp
client/moc_dlgattendanceedit.o
client/moc_dlgcassaaction.cpp
client/moc_dlgcassaaction.o
client/moc_dlgcassaedit.cpp
client/moc_dlgcassaedit.o
client/moc_dlgcrud.cpp
client/moc_dlgcrud.o
client/moc_dlghardwaretest.cpp
client/moc_dlghardwaretest.o
client/moc_dlginputstart.cpp
client/moc_dlginputstart.o
client/moc_dlglogin.cpp
client/moc_dlglogin.o
client/moc_dlglogs.cpp
client/moc_dlglogs.o
client/moc_dlgpanelsettings.cpp
client/moc_dlgpanelsettings.o
client/moc_dlgpanelstatuses.cpp
client/moc_dlgpanelstatuses.o
client/moc_dlgpanelstatusesedit.cpp
client/moc_dlgpanelstatusesedit.o
client/moc_dlgpaneltypeedit.cpp
client/moc_dlgpaneltypeedit.o
client/moc_dlgpaneltypes.cpp
client/moc_dlgpaneltypes.o
client/moc_dlgpaneluseedit.cpp
client/moc_dlgpaneluseedit.o
client/moc_dlgpatient.cpp
client/moc_dlgpatient.o
client/moc_dlgpatientcard.cpp
client/moc_dlgpatientcard.o
client/moc_dlgpatientcardadd.cpp
client/moc_dlgpatientcardadd.o
client/moc_dlgpatientcardedit.cpp
client/moc_dlgpatientcardedit.o
client/moc_dlgpatientcardtype.cpp
client/moc_dlgpatientcardtype.o
client/moc_dlgpatientcardtypeedit.cpp
client/moc_dlgpatientcardtypeedit.o
client/moc_dlgpatientedit.cpp
client/moc_dlgpatientedit.o
client/moc_dlgpatientorigin.cpp
client/moc_dlgpatientorigin.o
client/moc_dlgpatientoriginedit.cpp
client/moc_dlgpatientoriginedit.o
client/moc_dlgpatientselect.cpp
client/moc_dlgpatientselect.o
client/moc_dlgpostponedattendanceselect.cpp
client/moc_dlgpostponedattendanceselect.o
client/moc_dlgpostponedpatientselect.cpp
client/moc_dlgpostponedpatientselect.o
client/moc_dlgpreferences.cpp
client/moc_dlgpreferences.o
client/moc_dlgproductedit.cpp
client/moc_dlgproductedit.o
client/moc_dlgproducts.cpp
client/moc_dlgproducts.o
client/moc_dlgproducttypeedit.cpp
client/moc_dlgproducttypeedit.o
client/moc_dlgproducttypes.cpp
client/moc_dlgproducttypes.o
client/moc_dlgpwdconfirm.cpp
client/moc_dlgpwdconfirm.o
client/moc_dlgreasontovisit.cpp
client/moc_dlgreasontovisit.o
client/moc_dlgreasontovisitedit.cpp
client/moc_dlgreasontovisitedit.o
client/moc_dlgserialreg.cpp
client/moc_dlgserialreg.o
client/moc_dlgusercardedit.cpp
client/moc_dlgusercardedit.o
client/moc_dlgusercards.cpp
client/moc_dlgusercards.o
client/moc_dlgusercardtypeedit.cpp
client/moc_dlgusercardtypeedit.o
client/moc_dlgusercardtypes.cpp
client/moc_dlgusercardtypes.o
client/moc_dlguseredit.cpp
client/moc_dlguseredit.o
client/moc_dlgusers.cpp
client/moc_dlgusers.o
client/moc_frmpanel.cpp
client/moc_frmpanel.o
client/moc_mdipanels.cpp
client/moc_mdipanels.o
client/moc_qtmysqlquerymodel.cpp
client/moc_qtmysqlquerymodel.o
client/moc_sqlResult.cpp
client/moc_sqlResult.o
client/moc_wndmain.cpp
client/moc_wndmain.o
client/ui_dlgcrud.h
client/ui_dlghardwaretest.h
client/ui_dlglogin.h
client/ui_dlglogs.h
client/ui_dlgpaneltypeedit.h
client/ui_dlgpatientoriginedit.h
client/ui_dlgpreferences.h
client/ui_dlgproductedit.h
client/ui_dlgproducttypeedit.h
client/ui_dlgpwdconfirm.h
client/ui_dlgreasontovisitedit.h
client/ui_dlgserialreg.h
client/ui_dlgusercardedit.h
client/ui_dlgusercardtypeedit.h
client/ui_dlguseredit.h
client/ui_wndmain.h
client/ui_dlgpatientedit.h
client/ui_dlgattendanceedit.h
client/ui_dlginputstart.h
client/ui_dlgpanelstatusesedit.h
client/ui_dlgpatientcardtypeedit.h
client/ui_dlgpatientcardedit.h
client/ui_dlgpatientcardadd.h
client/ui_dlgpanel.h
client/ui_dlgserialreg.h
client/ui_dlgcassa.h
client/ui_dlgcassaaction.h
client/ui_dlgpaneluseedit.h
client/ui_dlgpatientcarduse.h
client/dlgattendanceselect.o
client/dlgpatientcarduse.o
client/moc_dlgattendanceselect.cpp
client/moc_dlgattendanceselect.o
client/moc_dlgpatientcarduse.cpp
client/moc_dlgpatientcarduse.o
client/dbpatientcardhistory.o
resources/Thumbs.db
BelenusServer
BelenusServer.exe
belenusserver.ini
server/release
server/debug
server/Makefile
server/Makefile.Debug
server/Makefile.Release
server/object_script.BelenusServer.Debug
server/object_script.BelenusServer.Release
server/BelenusServer.pro.user
server/main.o
server/main_dialog.o
server/server.o
server/thread.o
server/dbconnection.o
server/preferences.o
server/qtlogger.o
server/qtmysqlconnection.o
server/qtmysqlquerymodel.o
server/tracer.o
server/moc_main_dialog.cpp
server/moc_main_dialog.o
server/moc_server.cpp
server/moc_server.o
server/moc_thread.cpp
server/moc_thread.o
server/moc_qtmysqlquerymodel.cpp
server/moc_qtmysqlquerymodel.o
server/connection.o
server/moc_connection.cpp
server/moc_connection.o
server/moc_main.cpp
server/moc_main.o
server/moc_sqlResult.cpp
server/moc_sqlResult.o
server/packet.o
server/serverthread.o
server/sqlResult.o
BelenusServerAdmin
BelenusServerAdmin.exe
belenusserveradmin.ini
serveradmin/Makefile.Debug
serveradmin/Makefile.Release
serveradmin/debug/
serveradmin/release/
serveradmin/object_script.BelenusServerAdmin.Debug
serveradmin/object_script.BelenusServerAdmin.Release
serveradmin/ui_mainwindow.h
serveradmin/Makefile
serveradmin/Makefile.Debug
serveradmin/Makefile.Release
serveradmin/object_script.BelenusServerAdmin.Debug
serveradmin/object_script.BelenusServerAdmin.Release
serveradmin/BelenusServerAdmin.pro.user
serveradmin/main.o
serveradmin/dbconnection.o
serveradmin/dlg_mainwindow.o
serveradmin/preferences.o
serveradmin/qtlogger.o
serveradmin/qtmysqlconnection.o
serveradmin/qtmysqlquerymodel.o
serveradmin/tracer.o
serveradmin/moc_dlg_mainwindow.cpp
serveradmin/moc_dlg_mainwindow.o
serveradmin/moc_qtmysqlquerymodel.cpp
serveradmin/moc_qtmysqlquerymodel.o
serveradmin/ui_mainwindow.h
serveradmin/adminClientThread.o
serveradmin/connection.o
serveradmin/mainwindow.o
serveradmin/moc_adminClientThread.cpp
serveradmin/moc_adminClientThread.o
serveradmin/moc_connection.cpp
serveradmin/moc_connection.o
serveradmin/moc_mainwindow.cpp
serveradmin/moc_mainwindow.o
serveradmin/moc_sqlResult.cpp
serveradmin/moc_sqlResult.o
serveradmin/packet.o
serveradmin/sqlResult.o
lang/belenus_hu.qm
BelenusReportViewer
BelenusConverter
client/dlgpaneluseselect.o
client/moc_dlgpaneluseselect.cpp
client/moc_dlgpaneluseselect.o
client/dbzipregioncity.o
client/dbillnessgroup.o
client/dlgillnessgroup.o
client/dlgillnessgroupedit.o
client/moc_dlgillnessgroup.cpp
client/moc_dlgillnessgroup.o
client/moc_dlgillnessgroupedit.cpp
client/moc_dlgillnessgroupedit.o
client/ui_dlgillnessgroupedit.h
client/dbaddress.o
client/dbpublicplace.o
client/dbcompany.o
client/dbdoctor.o
client/dbhealthinsurance.o
client/dlgaddress.o
client/dlgaddressedit.o
client/dlgcompanyedit.o
client/dlgdoctoredit.o
client/dlghealthinsuranceedit.o
client/moc_dlgaddress.cpp
client/moc_dlgaddress.o
client/moc_dlgaddressedit.cpp
client/moc_dlgaddressedit.o
client/moc_dlgcompanyedit.cpp
client/moc_dlgcompanyedit.o
client/moc_dlgdoctoredit.cpp
client/moc_dlgdoctoredit.o
client/moc_dlghealthinsuranceedit.cpp
client/moc_dlghealthinsuranceedit.o
client/ui_dlgaddressedit.h
client/ui_dlgcompany.h
client/ui_dlgcompanyedit.h
client/ui_dlgdoctor.h
client/ui_dlgdoctoredit.h
client/ui_dlghealthinsurance.h
client/ui_dlghealthinsuranceedit.h
client/dlgcompany.o
client/dlgdoctor.o
client/dlghealthinsurance.o
client/moc_dlgcompany.cpp
client/moc_dlgcompany.o
client/moc_dlgdoctor.cpp
client/moc_dlgdoctor.o
client/moc_dlghealthinsurance.cpp
client/moc_dlghealthinsurance.o
client/dbpanels.o
client/dlgzipregioncity.o
client/dlgzipregioncityedit.o
client/dlgzipregioncityselect.o
client/moc_dlgzipregioncity.cpp
client/moc_dlgzipregioncity.o
client/moc_dlgzipregioncityedit.cpp
client/moc_dlgzipregioncityedit.o
client/moc_dlgzipregioncityselect.cpp
client/moc_dlgzipregioncityselect.o
client/ui_dlgzipregioncityedit.h
client/CommunicationProtocol.o
client/ConsoleWriter.o
client/DatabaseWriter.o
client/GUIWriter.o
client/licenceManager.o
client/moc_licenceManager.cpp
client/moc_licenceManager.o
serveradmin/CommunicationProtocol.o
serveradmin/ConsoleWriter.o
serveradmin/moc_LogEmitter.cpp
serveradmin/moc_LogEmitter.o
server/CommunicationProtocol.o
server/ConsoleWriter.o
server/DatabaseWriter.o
server/moc_serverthread.cpp
server/moc_serverthread.o
server/sigc.o
BelenusServer.ini
BelenusServerAdmin.ini
viewer/BelenusReportViewer.pro.user
viewer/Makefile
viewer/dlgdemo.o
viewer/moc_dlgdemo.cpp
viewer/moc_dlgdemo.o
viewer/ui_dlgdemo.h
viewer/main.o
viewer/wndmain.o
viewer/moc_wndmain.cpp
viewer/moc_wndmain.o
viewer/ui_wndmain.h
viewer/dbconnection.o
viewer/moc_qtmysqlquerymodel.cpp
viewer/moc_qtmysqlquerymodel.o
viewer/qtlogger.o
viewer/qtmysqlconnection.o
viewer/qtmysqlquerymodel.o
viewer/tracer.o
viewer/dlgpreview.o
viewer/moc_dlgpreview.cpp
viewer/moc_dlgpreview.o
viewer/ui_dlgpreview.h
server/FileWriter.o
BelenusConverter-build-desktop/
BelenusServer-build-desktop/
BelenusServerAdmin-build-desktop/
belenus-build-desktop/
converter/BelenusImport-build-desktop/
converter/BelenusImport.exe
converter/BelenusImport.pro.user
BelenusImport
converter/Makefile
converter/cdlgmain.o
converter/main.o
converter/moc_cdlgmain.cpp
converter/moc_cdlgmain.o
converter/ui_cdlgmain.h
*.log
client/dlgpreview.o
client/moc_dlgpreview.cpp
client/moc_dlgpreview.o
client/moc_repledgermain.cpp
client/moc_repledgermain.o
client/repledgermain.o
client/ui_dlgpreview.h
dbtool/dbconnection.o
dbtool/moc_qtmysqlquerymodel.cpp
dbtool/moc_qtmysqlquerymodel.o
dbtool/qtlogger.o
dbtool/qtmysqlconnection.o
dbtool/qtmysqlquerymodel.o
dbtool/tracer.o
BelenusDBTool
dbtool/BelenusDBTool.pro.user
dbtool/cdlgmain.o
dbtool/main.o
dbtool/moc_cdlgmain.cpp
dbtool/moc_cdlgmain.o
dbtool/ConsoleWriter.o
dbtool/DatabaseWriter.o
dbtool/GUIWriter.o
dbtool/Makefile
dbtool/ui_cdlgmain.h
client/moc_reppatients.cpp
client/moc_reppatients.o
client/reppatients.o
client/moc_repcassalist.cpp
client/moc_repcassalist.o
client/repcassalist.o
client/moc_rep_sample_.cpp
client/moc_rep_sample_.o
client/moc_repattendance.cpp
client/moc_repattendance.o
client/rep_sample_.o
client/repattendance.o
client/dlglicenceedit.o
client/moc_dlglicenceedit.cpp
client/moc_dlglicenceedit.o
client/moc_repcarduses.cpp
client/moc_repcarduses.o
client/repcarduses.o
client/ui_dlglicenceedit.h
client/moc_reppatientcards.cpp
client/moc_reppatientcards.o
client/reppatientcards.o
client/dbdiscount.o
client/dlgdiscount.o
client/dlgdiscountedit.o
client/moc_dlgdiscount.cpp
client/moc_dlgdiscount.o
client/moc_dlgdiscountedit.cpp
client/moc_dlgdiscountedit.o
client/ui_dlgdiscountedit.h
client/general.o
client/moc_reppatientcardsobs.cpp
client/moc_reppatientcardsobs.o
client/reppatientcardsobs.o
client/dlgprogress.o
client/moc_dlgprogress.cpp
client/moc_dlgprogress.o
client/ui_dlgprogress.h
client/FileWriter.o
client/dbmirror.o
client/moc_dbmirror.cpp
client/moc_dbmirror.o
client/dlgsynchronization.o
client/moc_dlgsynchronization.cpp
client/moc_dlgsynchronization.o
client/ui_dlgsynchronization.h
sql/reset_client
sql/reset_server
client/ui_dlgdbglobals.h
client/dlgglobals.o
client/moc_dlgglobals.cpp
client/moc_dlgglobals.o
BelenusDBTool.exe
BelenusInstall-build-desktop/
Setup.exe
Wamp/
dbtool/KiwiSunBerlet-build-desktop/
dbtool/KiwiSunBerlet.exe
setup.qm
dbtool/CardFromUsage/KiwiSunBerlet.pro.user
dbtool/connect_pc_pcu.txt
Belenus/
